* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.section-1 {
  width: 100%;
  background-color: #f8f9fa;
}

.section-1 nav {
  width: 100%;
  padding: 0px 20px;
  height: 80px;
  background-color: beige;
  box-shadow: 0px 2px 4px rgb(155, 155, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* ================get started button style ===================================== */

.section-1 nav ul li .btn {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  padding: 17px 42px;
  color: red;
  border: 0.5px solid red;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.4s linear;
  position: relative;
}

.section-1 nav ul li .btn:hover {
  z-index: 1;
  color: #fff;
}

.section-1 nav ul li a {
  font-family: "Josefin Sans", sans-serif;
}

.section-1 nav ul li .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 4px;
  z-index: -1;
  transition: transform 0.4s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.section-1 nav ul li .btn-1::before {
  transform: scaleY(0);
}

.section-1 nav ul li .btn-1:hover::before {
  transform: scaleY(1);
}

/* ============================================================================ */

.section-1 nav .logo .title-edu .edu {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 nav .logo .title-edu .edu a {
  text-decoration: none;
  color: black;
}

.section-1 nav .logo .title-logo .image {
  width: 80px;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.section-1 nav ul li {
  display: inline-block;
  padding: 10px 30px;
}

.section-1 nav ul {
  margin: 0px;
  padding: 0px;
}

.section-1 nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section-1 nav ul li a:is(:link, :visited, :active).active {
  border-bottom: 3px solid red;
}

.section-1 nav ul li a:hover,
.section-1 nav ul li .log-in {
  color: red;
}

.section-1 nav ul li .btn-1 {
  border: 2px solid red;
  padding: 8px 18px;
  color: red;
}

.container {
  width: 100%;
  padding: 10px 0px 80px;
  z-index: -1;
}

.container-1 {
  width: 100%;
}

.container-1 a {
  text-decoration: none;
}

.container .container-1 h2 {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #4255a4;
  font-style: normal;
  text-transform: normal;
  font-size: 41px;
  display: block;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 21px;
}

.container-1 .card {
  box-shadow: 0px 2px 8px rgb(189, 189, 189);
}

/* .container-1 .container-11 .card {
  z-index: -4;
} */

.container-1 .card .card-body p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #6e7697;
}

.container-1 .card .card-body h3 a {
  text-decoration: none;
}

.container-1 .card .card-body h3 {
  font-size: 20px;
  line-height: -4px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  color: #4255a4;
  margin: 0px 0px 20px 0px;
}
/* .container-1 .card .card-body h3 a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  color: #4255a4;
  margin: 0px 0px 20px 0px;
} */

/* .container-1 .card .card-body a:hover {
  text-decoration: underline;
} */

.container-1 .card .card-body button {
  width: 100%;
  text-align: center;
  border: 1px solid #e2e4ff;
  color: #4255a4;
  font-family: "Josefin Sans", sans-serif;
  background: none;
  border-radius: 5px;
  padding: 17px 42px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.4s linear;
  margin: 0;
  position: relative;
}

.container-1 .card .card-body a button {
  text-decoration: none;
  color: orange;
}

/* ==========================================y-axis================================ */

.container .container-1 .container-11 .card .card-body .btn:hover {
  z-index: 1;
  color: #fff;
}

.container .container-1 .container-11 .card .card-body .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  border-radius: 4px;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.container .container-1 .container-11 .card .card-body .btn1::before {
  transform: scaleY(0);
}

.container .container-1 .container-11 .card .card-body .btn1:hover::before {
  transform: scaleY(1);
}
/* ================================================================================ */

.container-1 .card .card-body button:hover {
  background-color: orange;
  color: white;
}

.container-1 .card img {
  width: 100%;
  height: 180px;
}
.container-1 .container-11 {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ================ button style ===================================== */

.container-1 .btn {
  margin: 40px auto 20px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  padding: 17px 42px;
  color: orange;
  border: 0.5px solid orange;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.4s linear;
  position: relative;
}

.container-1 .btn:hover {
  z-index: 1;
  color: #fff;
}

.container-1 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  border-radius: 4px;
  z-index: -1;
  transition: transform 0.4s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  /* transition-timing-function: cubic-bezier(1.6, 0.5, 0.7, 0.4); */
}

.container-1 .btn-1::before {
  transform: scaleX(0);
}

.container-1 .btn-1:hover::before {
  transform: scaleX(1);
}

/* ============================================================================= */

.container-2 {
  width: 100%;
  margin-top: 40px;
  height: max-content;
  position: relative;
}

.container-2 .container-20 {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.container-2 .box {
  position: relative;
}

.container-2 h4 {
  color: white;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 0%;
  margin: 0px auto;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.container-2 h4 a {
  color: white;
  text-decoration: none;
}

.container-2 h4 a:hover {
  text-decoration: underline;
}
.container-2 h2 {
  width: 100%;
  font-weight: 500;
  color: #4255a4;
  font-size: 42px;
  font-family: "josefin Sans", sans-serif;
  margin: 120px 0px 40px;
  text-align: center;
}

.container-2 .box .photo img {
  position: relative;
  transition: 0.2s all;
  border-radius: 16px;
  width: 250px;
  height: 150px;
}

.container-2 .box .photo img:hover {
  background-color: rgb(131, 131, 236);
  transform: scale(1.3);
}

.container-2 a {
  text-decoration: none;
}

.container .container-2 .btn {
  margin: 40px auto 20px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  padding: 17px 42px;
  color: #ff9f67;
  border: 0.5px solid orange;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.4s linear;
  position: relative;
}

.container .container-2 .btn:hover {
  z-index: 1;
  color: #fff;
}

.container .container-2 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  border-radius: 4px;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.container .container-2 .btn1::before {
  transform: scaleX(0);
}

.container .container-2 .btn1:hover::before {
  transform: scaleX(1);
}

/* ================================container-3====================================== */

.container .container-3 {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.container-3 .benefits {
  width: 32%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 60px rgba(66, 85, 164, 0.06);
  padding: 10px 24px 29px;
  border-radius: 20px;
}

.container-3 .benefits:hover {
  transform: scale(1.08);
}

.container-3 .benefits .timer-logo,
.container-3 .benefits .book-logo,
.container-3 .benefits .person-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(175, 87, 172);
}

.container-3 .benefits span {
  width: 30%;
  height: 100%;
}

.container-3 .benefits .details {
  width: 70%;
  height: 100%;
}

.container-3 .benefits .details h3 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #4255a4;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

.container-3 .benefits .details p {
  font-size: 16px;
  color: #6d79aa;
  margin-bottom: 0;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

/* ===================================about css ================================ */

.section-1 .about {
  /* font-family: "Mulish", sans-serif; */
  color: white;
}
.section-1 .about {
  width: 100%;
  height: max-content;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.section-1 .about .inner-about {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  background-color: #215893;
  padding-bottom: 160px;
}

.about .about-1 {
  width: 100%;
  margin: 20px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
}

.about-1 .title {
  margin-top: 10px;
}

.about-1 .title h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.about-1 .description {
  margin-top: 40px;
}

.about-1 .description p {
  margin: 0;
}
.about-1 .offers {
  margin-top: 18px;
  color: rgb(233, 135, 55);
  font-size: larger;
  font-weight: 600;
}
.about-1 .policies {
  margin-top: 16px;
}

.about .about-2 {
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about .about-2 h2 {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid white;
  font-size: 24px;
  font-weight: bold;
}

.about .about-2 .link {
  margin-top: 20px;
  padding-left: 20px;
}

.about .about-2 .link ul {
  margin: 0;
  padding: 0;
}

.about .about-2 .link ul li {
  margin: 8px auto;
  list-style: none;
}

.about .about-2 .link ul li a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.about .about-2 .link ul li a:hover {
  text-decoration: underline;
}

.about .about-3 {
  width: 100%;
  margin: 20px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about .about-3 h2 {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid white;
  font-size: 24px;
  font-weight: bold;
}

.about .about-3 .address,
.details {
  margin-top: 20px;
}

.about .about-3 .details p {
  margin: 0px;
}

.about .about-3 .address {
  margin-bottom: 0px;
}

.about .footer {
  width: 60%;
  position: absolute;
  margin: 10px auto 10px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1 .footer p,
.section-1 .footer .logos {
  margin: 0px;
  padding: 10px 20px;
}

.footer .logos {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
}

.footer .logos .logo a svg {
  color: rgb(220, 220, 230);
}

.footer .logos .logo a svg:hover {
  color: violet;
}
